{% extends 'base.html.twig' %}

{% block title %}Edit Consommable{% endblock %}

{% block body %}
    <h1>Edit Consommable</h1>

    {{ include('consommable/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_consommable_index') }}">back to list</a>

    {{ include('consommable/_delete_form.html.twig') }}
{% endblock %}
