{% extends 'base.html.twig' %}

{% block title %}New Historique{% endblock %}

{% block body %}
    <h1>Create new Historique</h1>

    {{ include('historique/_form.html.twig') }}

    <a href="{{ path('app_historique_index') }}">back to list</a>
{% endblock %}
